*{
    margin:0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(#031934,#09264a);
    /* background-color:#09264a; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    display: flex;
    flex-direction: row;
    height:60px;
    width:100%;
    /* background-color: #FF7B00; */
    /* background-color: #f99820; */
    background-color: #011125;
    align-items: center;
}
.fa-temperature-half{
    font-size: 35px;
    margin-left: 10px;
    color:#FF7B00;
}
.logo{
    margin-left: 15px;
    font-family: Bebas Neue;
    font-size: 35px;
    color: #FF7B00;
}
.countrySelect{
    position: absolute;
    right:20px;
    width:235px;

}
.countries{
    width:235px;
    height: 35px;
    background-color:#FF7B00;
    border: none;
    border-radius: 10px;
    font-family: Arial;
    font-size: 16px;
    text-indent: 3px;

    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.dataBox{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    height:400px;
    width:300px;
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
}
.dataBoxTitle{
   font-family: Futura Md BT;
   font-size: 20px;
}
.cloudsunimage{
    margin-top: 10px;
    margin-bottom: 10px;
    height:100px;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-cloud-sun{
    font-size: 80px;
}
.temprature{
    font-family: Bebas Neue;
    font-size: 60px;
}
.weather{
    font-family: Futura Md BT;
    font-size: 20px;
}
.wind{
    font-family: Futura Md BT;
    font-size: 20px;
}
.city{
    font-family: Futura Md BT;
    font-size: 20px;
}
.circle01{
    display: inline-block;
    position: absolute;
    top: 90px;
    left:470px;
    background-color: #FF7B00;
    height:120px;
    width:120px;
    border-radius: 50%;}
.allBoxes{
display: flex;
justify-content: space-evenly;
}
.circle02{
    position: absolute;
    top: 150px;
    right:300px;
    /* background-color: #062a55; */
    background-image: radial-gradient(#1153a5,#062a55);
    height:200px;
    width:200px;
    border-radius: 50%;
}
/* .circle03{
    position: absolute;
    top: -280px;
    right:500px;
    background-image: radial-gradient(#1153a5,#062a55);
    height:600px;
    width:600px;
    border-radius: 50%;
} */
.tempratureNextday{
    font-family: Bebas Neue;
    font-size: 60px;
}
.weatherNextday{
    font-family: Futura Md BT;
    font-size: 20px;
}
.windNextday{
    font-family: Futura Md BT;
    font-size: 20px;
}
.cityNextday{
    font-family: Futura Md BT;
    font-size: 20px;
}
.nextdataBox
{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    height:250px;
    width:300px;
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
}
.nextdataBoxTitle{
    font-family: Futura Md BT;
    font-size: 20px;
 }